input {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
}

.weaponMainStats {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 22px 22px 22px;
    align-items: center;
}

.weaponSubheader {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
}

.weaponImage {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 4;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}
.weaponKeywords {
    grid-column-start: 2;
    grid-column-end: 4;
}

.weaponSpecialRule {
    grid-column-start: 1;
    grid-column-end: 3;
}

.itemDescription {
    font-size: small;
}

.itemCostAndEncumbrance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: small;
}

.cost {
    justify-self: start;
}

.encumbrance {
    justify-self: end;
}