<form autocomplete="off">
    <div>
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="Spear">
        </h1>
        <div class="weaponMainStats">
            <p>
                Damage: {{config.Item.Weapon.damage}}/{{config.Item.Weapon.damage2handed}}(2H)
            </p>
            <p>
                Range (S/M/L): {{config.Item.Weapon.rangeShort}}/{{config.Item.Weapon.rangeMedium}}/{{config.Item.Weapon.rangeLong}}
            </p>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="66" width="66" class="weaponImage"/>
            <p class="weaponSubheader">
                {{config.Item.Weapon.size}}{{#if config.Item.Weapon.melee}} Melee{{/if}}{{#if config.Item.Weapon.missile}}{{#if config.Item.Weapon.melee}}/{{else}} {{/if}}Missile{{/if}} weapon
            </p>
            <p class="weaponKeywords">
                {{#each config.Item.Weapon.keywords}}{{this}}{{#unless @last}} &#9670; {{/unless}}{{/each}}
            </p>
        </div>
        <hr>    
        <div class="weaponSpecialRule">
            <p>
                Special: {{config.Item.Weapon.special}}
            </p>
        </div>
        <hr>
        <p class="itemDescription">
            Wooden shafts, 6’ to 8’ in length, with metal heads designed for thrusting, spears are the main weapon of the common soldier. Spears can be used one- or two-handed. Characters armed with spears can attack from behind an ally and inflict double damage when used in or against a charge. However, any attack throw of natural 1 made with a spear breaks its shaft. Historical examples include the Hoplite doru, the medieval winged spear, and the Japanese yari. Spears are, by far, the most common weapon in the Auran Empire, used by every race and realm.
        </p>
        <hr>
        <div class="itemCostAndEncumbrance">
            <p class="cost">       
                Cost: {{config.Item.Weapon.cost}} gp
            </p>
            <p class="encumbrance">
                Encumbrance: {{formatEncumbrance config.Item.Weapon.encumbrance}}
            </p>
        </div>
    </div>
</form>
