<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <p>
            {{localize 'bretenwalda.Weapon.medium'}} {{localize 'bretenwalda.Weapon.melee'}} {{localize 'bretenwalda.Weapon.missile'}} {{localize 'bretenwalda.Weapon.weapon'}}
        </p>
        <p>
            {{localize 'bretenwalda.Weapon.damage'}}: Item.Weapon.damage
        </p>
    </div>
</form>
